/*p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000; min-height: 14.0px}
span.s1 {font-kerning: none}*/

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

/*#header{
  height: 55%;
}

#content{
  height: 45%;
}



#container{
  height: 100%;
}*/


/*
.red{
  background-color: red;
  height: 100%;
  width: 100%;
}

.green{
  background-color: green;
  height: 100%;
  width: 100%;
}*/

.content{
  margin-bottom: 100px
}

.imgcenter{
  margin: 0 auto;
  margin-bottom:10px;
  display: block;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;

}

#footer-content {
    overflow: hidden;
    background-color: #EFE7D5;
    color: #00234A !important;

}

#footer-top {
  margin: 0 auto;
  padding-top:8px;
  font-size: 16px;
  text-align: center;
}

#footer-under {
  position: fixed;
  width: 100%;
  bottom: 0;
  clear: both;
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
  /*background-color: #EFE7D5;*/
}

#cards{
  float: left;
  margin-top: 20px;
}

.toggle-footer {
	width: 100px;
	margin: 0 auto;
	padding: 5px;

	cursor: pointer;

	text-align: center;

	background-color: #EFE7D5;
	border-top-left-radius:  6px;
	border-top-right-radius: 6px;
}

.cardformat{
  width:318px !important;
  margin: 25px !important;
}

.card-block{
  height: 200px !important;
}

table{
  margin:0 25px;
}

.name-size{
  text-align: center;
  font-size: 20px !important;
}
/*for bootstrap card projects*/
