p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000; min-height: 14.0px}
span.s1 {font-kerning: none}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #F5F5DC;
}

#header{
  height: 55%;
}

#content{
  height: 45%;

}

/*
.red{
  background-color: red;
  height: 100%;
  width: 100%;
}

.green{
  background-color: green;
  height: 100%;
  width: 100%;
}*/

.imgcenter{
  margin: 0 auto;
  margin-bottom:10px;
  display: block;
}

footer {
	width: 100%;

	position: absolute;
	bottom: 0;

}

#footer-content {
    overflow: hidden;
    background-color: #EFE7D5;
      color: #00234A !important;
}

.toggle-footer {
	width: 100px;
	margin: 0 auto;
	padding: 10px;

	cursor: pointer;

	text-align: center;

	background-color: #EFE7D5;
	border-top-left-radius:  6px;
	border-top-right-radius: 6px;
}
