p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000; min-height: 14.0px}
span.s1 {font-kerning: none}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#header{
height: 60%;
background-color: red;
}

#content{
  height: 40%;
  background-color: blue;
}

#leftbubble{
  float: left;
  height: 100%;
  width: 25%;
  background-color: green;
}

#logos{
  height: 100%;
  width: 50%;
  background-color: darkgreen;
  float:left;
}

#rightbubble{
  float: left;
  height: 100%;
  width: 25%;
  background-color: green;
}

#spacer{
  float: left;
  width: 33.33333%;
  height:100px;
}

#title{
  height: 55%;
  width: 100%;
  background-color: lightgreen;
}

#chris{
  float: left;
  height: 45%;
  width: 33.33333%;
  background-color: darkred;
}

#johnny{
  float: left;
  height: 45%;
  width: 33.33333%;
  background-color: darkorange;
}
